Content-Type: text/x-shellscript; charset="us-ascii"
MIME-Version: 1.0

#!/usr/bin/env bash
/etc/eks/bootstrap.sh {{.Name}} \
  --b64-cluster-ca {{.CertificateAuthority}} \
  --apiserver-endpoint {{.APIServerEndpoint}}
