[settings.kubernetes]
"cluster-name" = "{{.Name}}"
"api-server" = "{{.APIServerEndpoint}}"
"cluster-certificate" = "{{.CertificateAuthority}}"
{{- if .ClusterDNSIP}}
"cluster-dns-ip" = "{{.ClusterDNSIP}}"
{{- end}}
device-ownership-from-security-context = true

[settings.host-containers.admin]
"enabled" = true
