name: "CI"
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: go build ./...
  build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: go test -c -tags=e2e ./test/...
  build-image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: docker build --build-arg=KUBERNETES_MINOR_VERSION=latest --file Dockerfile .
  build-image-neuronx:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: docker build --file test/images/neuron/Dockerfile .
  build-image-nvidia:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: docker build --file test/images/nvidia/Dockerfile .
  build-image-nvidia-training:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: docker build --file test/images/nvidia-training/Dockerfile test/images/nvidia-training
  build-image-nvidia-inference:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: docker build --file test/images/nvidia-inference/Dockerfile test/images/nvidia-inference
